@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh; 
    background: rgb(241,245,249);
    background: radial-gradient(circle, rgba(241,245,249,1) 0%, rgba(248,250,252,1) 100%); 
    /* background: url('images/holo.jpg') no-repeat; 
    background-size: cover;
    background-position: center; */
}

/* .infinite-scroll {
    animation: infinite-scroll 10s infinite linear;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    } */

.wrapper-container {
    font-weight: bold;
    margin-top: 3%;
    background-color: #faf8fc;
    /* border: 2px solid #4e4c67;  */
    height: 10vh;
    display: grid;
    place-items: center;
}
.wrapper {
    background-color: #faf8fc;

    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display:flex;
    font-size: 30px;
    /* border: 2px solid #4e4c67;  */

}
.wrapper-span{
    display: block;
    padding-left: 10px;
    color: darkgreen;
    animation: rotate_words 6s infinite;
/* 
    text-shadow: 3px 3px 10px rgba(87, 189, 84, 0.9); */
}
.words {
    overflow: hidden;
}

@keyframes rotate_words{

    0% {
        transform: translateY(-500%);
    } 10% {
        transform: translateY(-112%);
    } 25% {
        transform: translateY(-100);
    } 35% {
        transform: translateY(-212%);
    } 50% {
        transform: translateY(-200%);
    } 60% {
        transform: translateY(-312%);
    } 75% {
        transform: translateY(-300%);
    } 85% {
        transform: translateY(-412%);
    } 100% {
        transform: translateY(-500%);
    }  
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #faf8fc;
    z-index: 100;
}

.logo {
    font-size: 38px;
    color:#0f172a;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
  text-shadow: 2px 2px 10px #94a3b8;
  transition: .3s;
  filter: dropshadow(color=white, offx=2, offy=2);
}

.navbar {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    
}

.navbar a, .navbar p {
    position: relative;
    font-size: 18px;
    color:#1e293b;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.auth-status {

    padding: 20px 100px;
    margin-top: 6rem;
    font-weight: 600;
    font-size: 25px;
    color: #494a7b;
}

.listings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.listing-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.listing-card:hover {
    transform: translateY(-5px);
}

.listing-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.listing-details {
    padding: 15px;
}

.listing-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.listing-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.listing-bid {
    font-size: 16px;
    font-weight: 500;
    color: #55868c;
    margin-top: 10px;
}

.listing-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #344955;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.listing-button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.auction-container {
    color:#475579;
    font-size: 16px;
    font-weight: 600;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.auction-form {
    margin: 0 auto;
    padding: 50px;
    height: 550px;
    width: 500px;
    /* background: #7776b3;   */
    background: #e2e8f0; 
    border-radius: 15px; 
    position:relative;
} 
.auction-form::after, .auction-form::before{
    content: '';
    position: absolute;
    height: 102%;
    width: 102%; 
    background-image: conic-gradient(#1e293b,#475569,#475569,#1e293b);
    top: 50%;
    left: 50%; 
    translate: -50% -50%;
    z-index: -1;
    border-radius: 19px;  
}
.auction-form::before{
    filter: blur(1.5rem);
    opacity: 0.77;
}
input[type=text], input[type=url] {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #4e4c67;
    background: transparent;
}
textarea {
    width: 100%;
    height: 7rem;
    background: transparent;
    box-sizing: border-box;
    border-bottom: 2px solid #4e4c67;
    resize: none;
}
select {
    border: 2px solid #cbd5e1;
    background: transparent;
    height: 3rem;
    width: 61%;
    border-radius: 10px;

  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    background: transparent;
    margin-left:10% ;
    margin-top: 14px;
    width:61%;
    height: 2rem;
    border-bottom: 2px solid #4e4c67;
  }
.options {
    margin-left: 10%;
    margin-top: 30px;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    
}


.add-listing, bid-button{
    
    color: #faf8fc;
    background: #494a7b;
    border-radius: 15px;
    margin-left: 45%;
    padding: 15px;
}


.home:hover  {
    text-shadow: 2px 2px 10px #494a7b;
    transition: .3s;
    filter: dropshadow(color=#494a7b, offx=2, offy=2); 
}
.add-listing:hover{
    /* text-shadow: 3px 3px 8px lightgrey; */
    box-shadow: 2px 2px 10px #494a7b;
    transition: .3s;
    filter: dropshadow(color=#494a7b, offx=2, offy=2); 

  }
.login-container{
    display: flex;
    background-color:#4e4c67;
    height: 100%;
}

.individual-listing-container {
    border: 2px solid red;
    gap:30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 20px;
    list-style: none;
   
}

.primary-layout {
    
    border: 2px solid blue;
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.image-container {
    width: 104%;
    height: 0;
    padding-bottom: 100%; /* Creates a square aspect ratio */
    position: relative;
    overflow: hidden;
}
.primary-layout img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.secondary-layout{
    border: 2px solid blue;
    flex: 1;
    max-width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

}

.item-name, .item-price{
 
    font-size: 25px;
    color:black;
    font-weight:bold;
    margin-bottom: 20px;
}
.line-break {
    width: 95%;
    border-bottom: 1px solid #ccc; /* Adjust color and style as needed */
}
.description {
    margin-right: 20px;
    margin-top: 20px;
    height:40%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid green;

}
.buyer {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}
.buyer button {
    font-size: 25px;

    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}
.watchlist-add-button, .watchlist-remove-button {
    background-color: #f2f2f2;
    color: #333;
}
.bid-button {
    box-shadow: 2px 2px 10px #494a7b;
    transition: .3s;
    filter: dropshadow(color=#494a7b, offx=2, offy=2); 
}
