

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    
    min-height: 100vh; 
    background: rgb(241,245,249);
    background: -o-radial-gradient(circle, rgba(241,245,249,1) 0%, rgba(248,250,252,1) 100%);
    background: radial-gradient(circle, rgba(241,245,249,1) 0%, rgba(248,250,252,1) 100%); 
}
.banner-container {
    background: url('images/header2.svg') no-repeat center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: block;
    width: 100%;
    height: 80vh;   
    -webkit-box-pack: center;   
        -ms-flex-pack: center;   
            justify-content: center;
}
.auth-status {
    margin-bottom: 3%;
    margin-right: 5%;
}

.page-title{
    margin-top: 5%;
}
.banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.typing-container{
    display:inline-block;
    border-right: 5px solid black;
    height:68px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation:
        typing 3s steps(44),
        cursor .4s step-end infinite alternate;
            animation:
        typing 3s steps(44),
        cursor .4s step-end infinite alternate;
}
@-webkit-keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes typing {
    from { width: 0}
}
@keyframes typing {
    from { width: 0}
}


.wrapper-container {
    margin-left:5%;
    margin-top: 3%;
    background:transparent;
    /* border: 2px solid #4e4c67;  */
    height: 10vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
}
.wrapper {
    color:#0f172a;
    background: transparent;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 50px;
    padding: 10px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-size: 35px;
    font-weight: bold;
}
.wrapper-span{
    display: block;
    padding-left: 10px;
    color: darkgreen;
    -webkit-animation: rotate_words 6s infinite;
            animation: rotate_words 6s infinite;
}
.words {
    overflow: hidden;
}

@-webkit-keyframes rotate_words{

    0% {
        -webkit-transform: translateY(-500%);
                transform: translateY(-500%);
    } 10% {
        -webkit-transform: translateY(-112%);
                transform: translateY(-112%);
    } 25% {
        -webkit-transform: translateY(-100);
                transform: translateY(-100);
    } 35% {
        -webkit-transform: translateY(-212%);
                transform: translateY(-212%);
    } 50% {
        -webkit-transform: translateY(-200%);
                transform: translateY(-200%);
    } 60% {
        -webkit-transform: translateY(-312%);
                transform: translateY(-312%);
    } 75% {
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    } 85% {
        -webkit-transform: translateY(-412%);
                transform: translateY(-412%);
    } 100% {
        -webkit-transform: translateY(-500%);
                transform: translateY(-500%);
    }  
}

@keyframes rotate_words{

    0% {
        -webkit-transform: translateY(-500%);
                transform: translateY(-500%);
    } 10% {
        -webkit-transform: translateY(-112%);
                transform: translateY(-112%);
    } 25% {
        -webkit-transform: translateY(-100);
                transform: translateY(-100);
    } 35% {
        -webkit-transform: translateY(-212%);
                transform: translateY(-212%);
    } 50% {
        -webkit-transform: translateY(-200%);
                transform: translateY(-200%);
    } 60% {
        -webkit-transform: translateY(-312%);
                transform: translateY(-312%);
    } 75% {
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    } 85% {
        -webkit-transform: translateY(-412%);
                transform: translateY(-412%);
    } 100% {
        -webkit-transform: translateY(-500%);
                transform: translateY(-500%);
    }  
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #faf8fc;
    z-index: 100;
}

.logo {
    font-size: 38px;
    color:#0f172a;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
  text-shadow: 2px 2px 10px #94a3b8;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-filter: dropshadow(color=white, offx=2, offy=2);
          filter: dropshadow(color=white, offx=2, offy=2);
}

.navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.navbar a, .navbar p {
    position: relative;
    font-size: 18px;
    color:#1e293b;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.listings-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.listing-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.listing-card:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

.listing-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

.listing-details {
    padding: 15px;
}

.listing-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.listing-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.listing-bid {
    font-size: 16px;
    font-weight: 500;
    color: #55868c;
    margin-top: 10px;
}

.listing-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #344955;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.listing-button:hover {
    background-color: #0056b3;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.auction-container {
    color:#475579;
    font-size: 16px;
    font-weight: 600;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.auction-form {
    margin: 0 auto;
    padding: 50px;
    height: 550px;
    width: 500px;
    /* background: #7776b3;   */
    background:  #faf8fc; 
    border-radius: 15px; 
    position:relative;
} 
.auction-form::after, .auction-form::before{
    content: '';
    position: absolute;
    height: 102%;
    width: 102%; 
    background-image: conic-gradient(#1e293b,#475569,#475569,#1e293b);
    top: 50%;
    left: 50%; 
    translate: -50% -50%;
    z-index: -1;
    border-radius: 19px;  
}
.auction-form::before{
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0.77;
}
input[type=text], input[type=url] {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #4e4c67;
    background: transparent;
}
textarea {
    width: 100%;
    height: 7rem;
    background: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 2px solid #4e4c67;
    resize: none;
}
select {
    border: 2px solid #cbd5e1;
    background: transparent;
    height: 3rem;
    width: 61%;
    border-radius: 10px;

  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    background: transparent;
    margin-left:10% ;
    margin-top: 14px;
    width:61%;
    height: 2rem;
    border-bottom: 2px solid #4e4c67;
  }
.options {
    margin-left: 10%;
    margin-top: 30px;
    font-size: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    
}

.add-listing{
    
    color: #faf8fc;
    background: #494a7b;
    border-radius: 15px;
    margin-left: 45%;
    padding: 15px;
}
.add-listing:hover{
    /* text-shadow: 3px 3px 8px lightgrey; */
    -webkit-box-shadow: 2px 2px 10px #494a7b;
            box-shadow: 2px 2px 10px #494a7b;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-filter: dropshadow(color=#494a7b, offx=2, offy=2);
            filter: dropshadow(color=#494a7b, offx=2, offy=2); 

  }
.home:hover  {
    text-shadow: 2px 2px 10px #494a7b;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-filter: dropshadow(color=#494a7b, offx=2, offy=2);
            filter: dropshadow(color=#494a7b, offx=2, offy=2); 
}
.login-container{
    max-width: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background:#4e4c67;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 20px;
}
.individual-listing-container {
    
    /* border: 2px solid red; */
    gap:30px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 20px;
    list-style: none;
    height: 590px;
    margin-bottom: 80px;
}
.primary-layout {
    /* border: 2px solid blue; */
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 50%;
    padding-right: 20px;
}
.image-container {
    width: 104%;
    height: 0;
    padding-bottom: 100%; /* Creates a square aspect ratio */
    position: relative;
    overflow: hidden;
}
.primary-layout img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.secondary-layout{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 50%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.item-name, .item-price{
    font-size: 30px;
    color:black;
    font-weight:bold;
    margin-bottom: 5px;
}
.line-break {
    width: 95%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; 
}
.description {
    margin-right: 20px;
    margin-bottom: 5px;
    height:40%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.buyer, .seller, .closed-notice {
    font-weight: bold;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}
.buyer li, .seller li {
    /* position: absolute; */
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
}
.add-comment-button{
    font-weight: bold;
    margin-left: 67%;
    width: 28%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}
.transaction-history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.transaction-card{
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.accept-bid-button{
    margin-left: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #faf8fc;
    cursor: pointer;
    font-weight: bold;
    color: #faf8fc;
    background: darkgreen;
}
.closed-notice {
    color: #8f1717;
}
.bid-button, .add-comment-button{
    color: #0056b3;
    background:#faf8fc;
}
.add-comment-button{
    padding: 10px;
}
.bid-button:hover{
    -webkit-box-shadow: 2px 2px 10px #faf8fc;
            box-shadow: 2px 2px 10px #faf8fc;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-filter: dropshadow(color=#faf8fc, offx=2, offy=2);
            filter: dropshadow(color=#faf8fc, offx=2, offy=2); 
 } 
.watchlist-remove-button, .close-auction-button {
    color: #fff;
    background: #8f1717;
}
.watchlist-add-button{
    color: #faf8fc;
    background: #494a7b;
}
.transaction-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1400px;
    margin: 100px auto 0;
    padding: 20px;
    list-style: none;
    height: 700px;
    margin-bottom: 80px;
}
.transaction-history, .transaction-comments {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 50%;
    margin: 20px;
}
.comment-details {
    padding: 15px;
}
.bid-offer-input {
    border-bottom: 2px solid #4e4c67;
    height: 2rem;
    width: 60%;
}
.comment-area {
    margin-left: 5%;
    margin-top: 5%;
    border: 2px solid #4e4c67;
    height: 30%;
    width: 90%;
    padding: 2%;
    border-radius: 10px;
}
.bid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bid-form {
    width: 600px;
}
.bid-form img {
    padding: 3px;
    -o-object-fit: cover;
       object-fit: cover;
} 
.bid-form textarea {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    border: 2px solid #0f172a;
}
.bid-form-options {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
}

.place-bid-button {
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #0056b3;
    color: #faf8fc;
}