{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
{% for message in messages %}
{{ message }}    <br>
{% endfor %}
{% endif %}
<div class="bid-form">
    {% if listing.item_image %}
    <img src="{{ listing.item_image }}" width="200" height="200" alt="{{ listing.item_name }}">
    {% endif %}
    <br>
    <h2>Place a Bid on {{ listing.item_name }}</h2>
    <p>Current bid: $ {{ listing.current_bid }}</p>
    <form method="post">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit" class="btn btn-primary">Place Bid</button>
    </form>
    <a href="{% url 'view_listing' listing.id %}" class="btn btn-secondary">Back to Listing</a>
</div>
{% endblock %}