{% extends "auctions/layout.html" %}

{% block body %}
<br><br><br><br><br>
{% if messages %}
{% for message in messages %}
{{ message }}    <br>
{% endfor %}
{% endif %}

<div class="bid-container">
    <h3 class="text-3xl font-bold dark:text-white">{{ listing.item_name }}</h3>
    <p class="mb-3 text-gray-500 dark:text-gray-400" >HIGHEST BID: $ {{ listing.current_bid }}</p>
    <form class="bid-form" method="post">
        <img src="{{ listing.item_image }}"alt="{{ listing.item_name }}">
        <br>
        {% csrf_token %}
        {{ bid_form.as_p }}
        <br>
        Additional comments? (Optional)
        <textarea name="comment"  id="comment"></textarea>
        <div class="bid-form-options">
            <a class="home" href="{% url 'view_listing' listing.id %}" class="home">Back to Listing</a>
            <button class="place-bid-button" type="submit">Place Bid</button>
        </div>
    </form>
</div>

{% endblock %}