{% extends "auctions/layout.html" %}

{% block body %}


{% if listings %}
<h1>Active Listings in {{ category }}</h1>
    {% for listing in listings %}
        <div>
            <a href={%url 'view_listing' listing.id %} >
                <img src="{{listing.item_image}}" width="200" height="200">
                <h5> {{listing.item_name}} </h5>
                <p> <strong>Price</strong>: ${{listing.starting_bid}}</p>
                <p> Created {{listing.time_created}} </p> 
                </a>
        </div>
    {% endfor %}
{% else %}
    <p>No active listings found in this category ({{category}}).</p>
{% endif %}

{% endblock %}