{% extends "auctions/layout.html" %}


{% block body %}
 <h2>All listings</h2>
    {% if auctions %}
        <div class="row">
            {% for listing in auctions %}
                {% if listing.is_available %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if listing.item_image %}
                            <img src="{{ listing.item_image }}" class="card-img-top" alt="{{ listing.item_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.item_name }}</h5>
                            <p> Created {{listing.time_created}} </p> 
                            <p class="card-text">Current Bid: ${{ listing.current_bid }}</p>
                            <a href="{% url 'view_listing' listing.id %}" class="btn btn-primary">View Listing</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>You're not watching any listings yet.</p>
    {% endif %} 
{% endblock %}
{% comment %} {% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in auctions %}

        <div class="listing_card">
            <img src="{{listing.item_image}}" width="200" height="200">
            <a href={%url 'view_listing' listing.id %} >
            <h5> {{listing.item_name}} </h5>
            </a>
            <p> <strong>Price</strong>: ${{listing.starting_bid}}</p>
            <p> Created {{listing.time_created}} </p> 
        </div>

    {% empty %}
        <p>No items yet.</p>
    {% endfor %}
{% endblock %} {% endcomment %}
