{% extends "auctions/layout.html" %}

{% block body %}
    <br><br><br>
    <div class="auth-status">
        <h5 class="text-l font-lighter dark:text-white text-end">
        {% if user.is_authenticated %}
            Signed in as <strong> {{ user.username }}</strong>. </h5> 
        {% else %}
            Not signed in.
        {% endif %} 
    </h5> 
    </div>

    <div class="banner-text"> 
        <h1 class=" typing-container mb-4 text-4xl font-bold leading-none tracking-tight text-sky-900 md:text-5xl lg:text-6xl dark:text-white text-center"> Navigate a world of <span class=" underline underline-offset-1 decoration-8 decoration-neutral-900 dark:decoration-blue-600">deals and opportunities</span>.</h1>
    </div>
    <div class="banner-container"></div><hr>

    <div class="wrapper-container">
         <div class="wrapper">
            <p> YOUR ONE-STOP MARKETPLACE FOR YOUR  </p>
            <div class="words">
                <span class="wrapper-span"> DAILY DEALS 🏷️ </span>
                <span class="wrapper-span"> STYLE ESSENTIALS 👗 </span>
                <span class="wrapper-span"> GAMING GEARS 🎮 </span>
                <span class="wrapper-span"> HOME SUPPLIES 🏠 </span>
                <span class="wrapper-span"> EVERYDAY ESSENTIALS 🍃</span>
                <span class="wrapper-span"> VINTAGE FINDS 📼 </span>
            </div>
        </div>
     </div>

    <div class="listings-container">
        {% if auctions %}
            {% for listing in auctions %}
                {% if listing.is_available %}
                <div class="listing-card">
                    {% if listing.item_image %}
                        <img src="{{ listing.item_image }}" alt="{{ listing.item_name }}" class="listing-image">
                    {% endif %}
                    <div class="listing-details">
                        <h2 class="listing-name">{{ listing.item_name }}</h2>
                        <p class="listing-info">Listed on: {{ listing.time_created|date:"F d, Y" }} at {{ listing.time_created|time:"H:i" }}</p>
                        <p class="listing-bid">Current bid: ${{ listing.current_bid }}</p>
                        <a href="{% url 'view_listing' listing.id %}" class="listing-button">View Listing</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No active listings available.</p>
        {% endif %}
    </div>
{% endblock %}
