{% extends "auctions/layout.html" %}

{% block body %}

<div class="auth-status page-title mx-auto text-xl font-semibold text-lightgray-900 dark:text-white sm:text-3xl">
<h2> 🛒 your listings [{{auctions|length}}] </h2>
</div>

<div class="listings-container">
    {% if auctions %}
        {% for listing in auctions %}

            <div class="listing-card">
                {% if listing.item_image %}
                    <img src="{{ listing.item_image }}" alt="{{ listing.item_name }}" class="listing-image">
                {% endif %}
                <div class="listing-details">
                    <h2 class="listing-name">{{ listing.item_name }}</h2>
                    {% if listing.is_available %}
                    {% if listing.starting_bid == listing.current_bid %}
                        <p class="listing-bid">No bids yet.</p>
                    {% else %}
                    <p class="listing-bid">Current bid: ${{ listing.current_bid }}</p>
                    {% endif %}
                    {% else %}
                        {% if listing.starting_bid != listing.current_bid %}
                            <p class="listing-bid">This item is sold.</p>
                        {% else %}
                            <p class="listing-bid">Listing deleted.</p>
                            {% endif %}
                            {% endif %}
                    <a href="{% url 'view_listing' listing.id %}" class="listing-button">View Listing</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You haven't listed any items yet...</p>
    {% endif %}
</div>
{% endblock %}