{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <div class="page-title mx-auto text-xl font-semibold text-lightgray-900 dark:text-white sm:text-3xl">
        <h2> 🛒 your watchlist [{{auctions|length}}] </h2>
    </div>
    {% endif %} 
<div class="listings-container">
    {% if auctions %}
        {% for listing in auctions %}
            <div class="listing-card">
                {% if listing.item_image %}
                    <img src="{{ listing.item_image }}" alt="{{ listing.item_name }}" class="listing-image">
                {% endif %}
                <div class="listing-details">
                    <h2 class="listing-name">{{ listing.item_name }}</h2>
                    {% if listing.is_available %}
                    <p class="listing-bid">CURRENT HIGHEST BID: ${{ listing.current_bid }}</p>
                    <a href="{% url 'view_listing' listing.id %}" class="listing-button">View Listing</a>
                    {% else %}
                        {% if listing.auction_winner == user.username %}
                            <p>Congratulations! You have won the auction. </p>
                            <a href="{% url 'view_listing' listing.id %}"class="closed-notice" ><br>View Archived Listing</a>
                        {% else %}
                            <p>This auction is closed and no longer accepting bids.</p> 
                            <div class="closed-notice">Auction Closed</div>
                        {% endif %} 
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You're not watching any listings yet.</p>
    {% endif %}
</div>
{% endblock %}